---
title: About Us | Rational Means | Web Engineering + Design
---

<div class="container">
  <div class="hero">
    <div class="logo">
      <img src="images/round-logo.png" />
    </div>

    <h1 class="tagline responsive-text">
      We are</br>
      <strong>Rational Means</strong></br>
      and we build</br>
      good things.
    </h1>
  </div>

  <p>
  Rational Means is a web engineering and design consultancy that helps businesses grow. We focus on identifying core business problems and determining how to best apply technology and process improvements to meet those goals. In practice, we generally work with small to medium businesses to launch customer analytics, web applications, ecommerce logistics and storefronts, and mailing list integrations. However, each business has very different needs, so our deliverables are different on every project.
  </p>

  <p>
  Our founder, Tim Cheadle, is a software craftsman and product designer, with over 15 years of experience building web applications, cloud infrastructure, and tech startups. Tim founded Rational Means, a web and product development consultancy that focuses on ecommerce and web applications. Previously he was CTO of Umba, an subscription business that curates and sells high quality handmade goods from artists around the world. He also served as an engineering lead at Google and AOL.
  </p>

  <p>
  Our lead web developer, Faye Cheadle, is a software engineer in Charlotte, NC, with over 10 years of experience managing infrastructure and building applications. She is a partner at Rational Means. Faye previously worked as a technical project manager at Google in San Francisco. After moving to Charlotte in 2010 and staying at home with her new son for 2 years, Faye worked at Technekes as a database engineer coordinating digital marketing campaigns.
  </p>

  <section class="clients">
    <h2>Notable Client Work</h2>

    <article class="client">
      <h3>Umba</h3>
      <a href="http://www.umba.com" class="client-url">www.umba.com</a>

      <ul>
        <li>Designed and launched ecommerce storefront on Shopify</li>
        <li>Designed and launched subscription platform on Chargify</li>
        <li>Built internal tools with Ruby on Rails to:</li>
        <ul>
          <li>Manage inventory</li>
          <li>Fulfill orders and subscriptions</li>
          <li>Business analytics and financial projections</li>
        </ul>
      </ul>
    </article>

    <article class="client">
      <h3>Last Hop Automation</h3>
      <a href="http://www.lasthop-automation.com/" class="client-url">www.lasthop-automation.com</a>

      <ul>
        <li>User interface design and implementation</li>
        <li>Web application development using Python & Django</li>
      </ul>
    </article>

    <article class="client">
      <h3>Charlotte Montessori School</h3>
      <a href="http://www.charlottemontessori.com" class="client-url">www.charlottemontessori.com</a>

      <ul>
        <li>Total redesign and launched for private school website using WordPress</li>
        <li>Custom photography and content creation</li>
        <li>Provided teacher training and documentation</li>
      </ul>
    </article>

    <article class="client">
      <h3>MEP Ally / Threader</h3>
      <a href="http://www.mepally.com" class="client-url">www.mepally.com</a>

      <ul>
        <li>Serving as outsourced CTO</li>
        <li>Managed an overseas development team to launch web and iOS applications</li>
      </ul>
    </article>
  </section>

  <ul class="contact">
    <li><i class="fa fa-envelope"></i> <a href="mailto:info@rationalmeans.com">info@rationalmeans.com</a></li>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/rationalmeans">@rationalmeans</a></li>
  </div>
</div>
