---
title: Rational Means | Web Engineering + Design
body_classes: centered
---

<div class="container">
  <div class="hero">
    <div class="logo">
      <img src="images/round-logo.png" />
    </div>

    <h1 class="tagline responsive-text">
      We are</br>
      <strong>Rational Means</strong></br>
      and we build</br>
      good things.
    </h1>
  </div>

  <p>Web engineering and design. We build web applications that help grow your business. <a href="about.html">Find out more.</a></p>


  <ul class="contact">
    <li><i class="fa fa-envelope"></i> <a href="mailto:info@rationalmeans.com">info@rationalmeans.com</a></li>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/rationalmeans">@rationalmeans</a></li>
  </div>
</div>
